
{% extends 'base.html' %}

{% block body %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
            <!-- {% for m}
            <tr>
            <ul>
            <li>Melon type: {{ display_melon.melon_type }}</li>
            <li>Color: {{ display_melon.color }}</li>
            {% if display_melon.seedless %}
              <li>Seedless melon</li>
            {% else %}
              <li class='warning'>Warning! This melon has seeds</li>
            {% endif %}
        </ul>
        </tr> -->


         <tr>
            <td>{{ melon.common_name }}</td>
            <td>{{ melon.quantity }}</td>
            <td>{{ melon.price }}</td>
            <td>{{ melon.total_price }}</td>
        </tr>
        </tbody>
    </table>

    <h3>Total: $27.00</h3>




    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}
